<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Adonisjs TODO App">
		<meta name="author" content="">
		<!-- https://realfavicongenerator.net/ -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/manifest.json">
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#1b66b1">

		<title>AdonisJs starter</title>

		<!-- Fonts -->
		{{ css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}
		{{ css('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900') }}

		<!-- Styles -->
		{{ css('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css') }}
		{{ css('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css') }}

		{{ css('style.css') }}
	</head>

	<body id="app-layout">

		@!include('partials.navbar')

		@!section('content')

		@!include('partials.footer')

		<!-- JavaScripts -->
		{{-- script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js') --}}
		{{ script('https://code.jquery.com/jquery-3.1.1.min.js') }}
		{{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js') }}
		{{ script('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js') }}
		{{ script('https://rawgit.com/DATA-DOG/bootstrap-modal-form/master/modal.js')}}
		{{ script('/js/app.js') }}

	</body>
</html>
