@layout('layout.master')

@section('content')
  @set('title', 'Add Task')
  <div class="card">
    <div class="card-body">

      @if(flashMessage('error'))
        @component('components.alert', { type: 'danger', dismissible: true })
          {{ flashMessage('error') }}
        @endcomponent
      @endif

      <form action="/tasks" method="POST">
        @include('tasks.partials.form')
      </form>

    </div>
  </div>
@endsection
